<div class="container">
<%= render "shared/errors", obj: @article %>
    <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
      <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
          <%= f.text_field :title, class: "form-control", placeholder: "title", autofocus: true %>
        </div>
        <div class="form-group">
          <%= f.text_field :link, class: "form-control", value: "http://", autofocus: true %>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <h3><%= f.submit(@article.new_record? ? "create" : "update", class: "btn btn-primary btn-lg") %> [ <%= link_to "Cancel", root_path %> ]</h3>
          </div>
        <% end %>
      </div>
    </div>
  </div>
